<div class="skills-container">
  <h2>Skills</h2>

  <section class="skills-section">
    <h3>Programming Languages</h3>
    <div class="skills-icons">
      <div class="skill">
        <img src="assets/icons/javascript.svg" alt="JavaScript" />
        <span>JavaScript</span>
      </div>
      <div class="skill">
        <img src="assets/icons/typescript.svg" alt="TypeScript" />
        <span>TypeScript</span>
      </div>
      <div class="skill">
        <img src="assets/icons/csharp.svg" alt="C#" />
        <span>C#</span>
      </div>
      <div class="skill">
        <img src="assets/icons/mssql.svg" alt="MSSQL" />
        <span>MSSQL</span>
      </div>
    </div>
  </section>

  <section class="skills-section">
    <h3>Frameworks</h3>
    <div class="skills-icons">
      <div class="skill">
        <img src="assets/icons/ionic.svg" alt="Ionic Angular" />
        <span>Ionic Angular</span>
      </div>
      <div class="skill">
        <img src="assets/icons/angular.svg" alt="Angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/icons/api.svg" alt="ASP.NET Web API" />
        <span>ASP.NET Web API</span>
      </div>
      <div class="skill">
        <img src="assets/icons/dotnet2.svg" alt=".NET Framework" />
        <span>.NET Framework</span>
      </div>
      <div class="skill">
        <img src="assets/icons/wordpress.svg" alt="WordPress" />
        <span>WordPress</span>
      </div>
    </div>
  </section>

  <section class="skills-section">
    <h3>Others</h3>
    <div class="skills-icons">
      <div class="skill">
        <img src="assets/icons/html.svg" alt="HTML" />
        <span>HTML</span>
      </div>
      <div class="skill">
        <img src="assets/icons/css3.svg" alt="CSS" />
        <span>CSS</span>
      </div>
    </div>
  </section>

</div>
